---
export const prerender = false;
import { Icon } from "astro-icon/components";
import Layout from "../../layout/Layout.astro";
import Heading from "../../components/Heading.astro";
import decodeHTMLtxt from "../../js/decodeHTMLtxt";
import formatDate from "../../js/formatDate";

const getPass = atob(Astro.url.searchParams.get("p")! || "");

// Esta función solo es necesaria en caso de preRendered
// export async function getStaticPaths() {
//   const response = await fetch(import.meta.env.API_QUOTES);
//   const QUOTES = await response.json();

//   return QUOTES.map((q) => {
//     let slug: string;
//     slug = q.slug;

//     if (q.status == "publish" ) {
//       return {
//         params: {
//           quote: slug,
//         },
//       };
//     }
//   });
// }

const { quote } = Astro.params;
const response = await fetch(import.meta.env.API_QUOTES);
const QUOTES = await response.json();
const currQuote = QUOTES.find((q) => q.slug == quote);
const formattedDate = formatDate(currQuote.date);
const TITLE = decodeHTMLtxt(currQuote.title.rendered);

const LANG = currQuote.acf.lang;

---

<Layout
  title={` ${currQuote.title.rendered} — Presupuesto Web por Nicolás González • ${formattedDate}`}
  claim=""
  description={`Presupuesto Web realizado por Nicolás González, el ${formattedDate}, para ${currQuote.title.rendered} `}
  lang={LANG}
>
  <div class="container">
    <section class="scroll-case row section-b md:mb-5 xg:mb-0">
      <div id="content" class="col-[1/5] md:col-[1/13] xg:col-[3/11] pl-2 xg:pl-0">
        {
              <div class="wp-block-columns">
                <div class="wp-block-column" style="flex-basis:33.33%">
                  {" "}
                  &nbsp;{" "}
                </div>
                <div class="wp-block-column mb-0" style="flex-basis:66.66%">
                  <h1 class="text-big leading-[1] mb-6">{ TITLE }</h1>
                </div>
              </div>
              <Heading serv={currQuote.acf.service} lang={LANG} />
              <Fragment set:html={currQuote.content.rendered} />
        }
      </div>
    </section>
  </div>
</Layout>
