---
import "@fontsource/public-sans";
import "@fontsource/public-sans/600.css"
import "@fontsource/public-sans/700.css"

import getSlug from '@/js/getSlug';
import getFirstUrlTerm from '@/js/getFirstUrlTerm';

import "@/css/global.css";
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import Seo from "@/components/Seo.astro";
import Menu from "../components/Menu.astro";

const siteURL = import.meta.env.SITE;

const {
  title = "Título de 65 caracteres",
  description = "Descripción de 150 caracteres",
  image = siteURL + '/img/1200x600.png',
  author = 'Nicolas Gonzalez',
  author_url = siteURL,
  robots = true,
} = Astro.props;

/* Get Page */
const currentPath = Astro.url.pathname;
const currPage = getSlug(currentPath);
const firstUrlTerm = getFirstUrlTerm(currentPath);

let dataPage = "";

if( currPage === '' ){
  dataPage = 'home';
}else if( currPage != firstUrlTerm ){
  dataPage = firstUrlTerm;
}else{
  dataPage = currPage;
}

---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/img/favicon.svg" sizes="any" type="image/svg+xml" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <Seo {title} {description} {image} {author} {author_url} {robots} />
    <meta http-equiv="cleartype" content="on" />
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta name="format-detection" content="telephone=no" />
  </head>
  <body id="top" data-page={dataPage} data-scroll="top" >

    <div class="flex w-full flex-1 gap-2">

      <aside class="w-[var(--sidebar-width)] fixed flex flex-col justify-center top-0 left-0 bg-black h-[100dvh] z-50">
           <Menu/>
      </aside>

      <div class="flex-1 w-[calc(100% - var(--sidebar-width))] ml-[var(--sidebar-width)]">
        <Header />
          <main>
            <slot />
          </main>
        <Footer />
      </div>

    </div>

    <!-- <Modals modalID={currPage} /> -->

    <script> import "@/js/globals";</script>
    
  </body>
</html>
